/* Base styles */
form {
  width: 700px;
  margin: 20px auto;
}

.change-password-form {
  margin: 10px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  color: #24221E;

}

.update-button {
  background-color: rgba(135, 30, 53, 1);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-control {
  border: 1px solid #871E35;
  outline: none;
}

.form-control:focus {
  box-shadow: none;
}

label {
  padding-bottom: 10px;
}

/* Small phones (less than 320px wide) */
@media (max-width: 319px) {
  form {
    width: 100%;
    padding: 10px;
  }

  .update-button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .form-control {
    font-size: 14px;
    padding: 8px;
  }

  label {
    font-size: 14px;
    padding-bottom: 8px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  form {
    width: 100%;
    padding: 15px;
  }

  .update-button {
    padding: 10px 18px;
    font-size: 15px;
  }

  .form-control {
    font-size: 15px;
    padding: 10px;
  }

  label {
    font-size: 15px;
    padding-bottom: 10px;
  }
}

/* Tablets (768px to 1024px wide) */
@media (min-width: 768px) and (max-width: 1024px) {
  form {
    width: 90%;
    padding: 20px;
  }

  .update-button {
    padding: 12px 20px;
    font-size: 16px;
  }

  .form-control {
    font-size: 16px;
    padding: 12px;
  }

  label {
    font-size: 16px;
    padding-bottom: 12px;
  }
}

/* Laptops (1025px to 1440px wide) */
@media (min-width: 1025px) and (max-width: 1440px) {
  form {
    width: 80%;
    padding: 20px;
  }

  .update-button {
    padding: 12px 22px;
    font-size: 16px;
  }

  .form-control {
    font-size: 16px;
    padding: 12px;
  }

  label {
    font-size: 16px;
    padding-bottom: 12px;
  }
}

/* Desktops (1441px and wider) */
@media (min-width: 1441px) {
  form {
    width: 700px;
    padding: 20px;
  }

  .update-button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .form-control {
    font-size: 16px;
    padding: 12px;
  }

  label {
    font-size: 16px;
    padding-bottom: 10px;
  }
}