<form class="mt-5 p-3">
  <h3 class="mb-4">Change Password</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group mb-3">
        <label for="current-password">Current password</label>
        <input type="text" placeholder="Type here" class="form-control">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group mb-3">
        <label for="new-password">New password</label>
        <input type="text" placeholder="Type here" class="form-control">
      </div>
    </div>
  </div>
  <br>
  <div class="update-button-container">
    <button type="submit" class="update-button">Update Password</button>
  </div>
</form>
