<div class="profile">
  <h1 class="mb-4">My Profile</h1>
  <div class="balance">
    <span class="balance-text">{{ balance }}$</span> <span class="balance-label"> Balance</span>
  </div>
  <div class="profile-info mt-4">
    <div class="info-item">
      <label for="first-name">First Name :</label>
      <span class="value">{{ profileInfo.firstName }}</span>
    </div>
    <div class="info-item">
      <label for="email">Email :</label>
      <span class="value">{{ profileInfo.email }}</span>
    </div>
    <div class="info-item">
      <label for="phone">Phone :</label>
      <span class="value">{{ profileInfo.phone }}</span>
    </div>
    <div class="info-item">
      <label for="gender">Gender :</label>
      <span class="value">{{ profileInfo.gender }}</span>
    </div>
  </div>
</div>
