<section class="d-flex justify-content-around">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12 mb-3">
        <div class="image">
          <img src="../../../assets/c4dc7386c8046c9e46df981b07aade68.png" alt="">
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="content">
          <div class="info">
            <h5>Mobile Application</h5>
            <p>Download our apps of your mobile phone for service</p>
            <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy</span>
            <ul>
              <li><i class="fa-regular fa-circle-right"></i>Lorem Ipsum is simply dummy</li>
              <li><i class="fa-regular fa-circle-right"></i>Lorem Ipsum is simply dummy text of the printing</li>
              <li><i class="fa-regular fa-circle-right"></i>Lorem Ipsum is simply</li>
            </ul>
            <img src="assets/appstore.PNG" alt="">
            <img src="assets/googleplay.PNG" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>