section {
  width: 100%;
  padding: 64px 96px;
  background: rgba(243, 233, 235, 1);
}

section .image {
  width: 100%;
  padding: 15px;
}

section .image img {
  display: block;
  width: 100%;
}

section .content h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: rgba(135, 30, 53, 1);
}

section .content p {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: left;
  color: rgba(36, 34, 30, 1);
}

section .content span {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: rgba(60, 58, 55, 1);
}

section .content ul {
  margin-top: 10px;
}

section .content ul li {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

section .content ul li i {
  font-size: 18px;
  color: rgba(135, 30, 53, 1);
  display: inline-block;
  margin-right: 10px;
}

section .content img {
  display: inline-block;
  margin: 5px;
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  section {
    padding: 32px 48px;
  }

  section .content p {
    font-size: 20px;
    line-height: 30px;
  }
}