<div class="my-account">
  <div class="overlay"></div>
  <div class="container">
    <div class="content">
      <div class="info">
        <h1>Money Transfer</h1>
        <nav class="nav-links">
          <a class="nav-item">Home</a>
          <svg width="5" height="6" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="0.224609" width="5" height="5" rx="2.5" fill="#871E35" />
          </svg>
          <a class="nav-item active">My Account </a>
        </nav>
      </div>
      <div class="image">
        <img src="../../../assets/Breadcrumb vector.svg" alt="Breadcrumb vector">
      </div>
    </div>
  </div>
</div>
<div class="page">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="text">
    <router-outlet></router-outlet>
  </div>
</div>